// "/-" comments out the following node. 
// This is mostly made my keeping noctalia-shell in mind.

//==================================================//
//               Gigi's Rice - Niri                 //
//==================================================//

// Modules 
include "./modules/input.kdl"
include "./modules/output.kdl"
include "./modules/autostarts.kdl"
include "./modules/environment.kdl"
include "./modules/layer-rules.kdl"
include "./modules/visuals.kdl"
include "./modules/animations.kdl"
include "./modules/rules.kdl"
include "./modules/keybinds.kdl"


//==================================================//
//              Layout & Decorations                //
//==================================================//

// NOTE:
// Keep the layout section in this file.
// Moving it into a module currently causes border rendering/theme issues.

layout {
  gaps 9 // Set gaps around windows in logical pixels.
  center-focused-column "never"
  always-center-single-column
  preset-column-widths {
    proportion 0.5
    proportion 0.66667
    proportion 1.0
  }

  default-column-width { proportion 0.5; }

  focus-ring {
    off // Comment this line to enable focus ring.
    width 4
    active-color "#7fc8ff"
    inactive-color "#505050"
  }

  border {
    // settings are same as focus ring
    // if borders are enabled, consider disabling the focus ring.
    //off 
    width 2
    active-color "#ffc87f"
    inactive-color "#505050"
    urgent-color "#9b0000"  //windows that require attention.
  }

  shadow {
    on // Comment the line to disable shadows
    softness 30
    spread 5
    offset x=0 y=5
    color "#0007"
  }

  // Struts shrink the area occupied by windows, similarly to layer-shell panels.
  struts {
    // left 64
    // right 64
    // top 64
    // bottom 64 
  }
}


//==================================================//
//                    Gestures                      //
//==================================================//

gestures {
  hot-corners {
    off
  }
}


include "./noctalia.kdl"
