layout {

    focus-ring {
        active-color   "#6794e4"
        inactive-color "#171d26"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#6794e4"
        inactive-color "#171d26"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#171d2670"
    }

    tab-indicator {
        active-color   "#6794e4"
        inactive-color "#0c3a8d"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#6794e480"
    }
}

recent-windows {
    highlight {
        active-color "#6794e4"
        urgent-color "#fd4663"
    }
}
