layout {

    focus-ring {
        active-color   "#e0e467"
        inactive-color "#22231b"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#e0e467"
        inactive-color "#22231b"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#22231b70"
    }

    tab-indicator {
        active-color   "#e0e467"
        inactive-color "#898d0c"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#e0e46780"
    }
}

recent-windows {
    highlight {
        active-color "#e0e467"
        urgent-color "#fd4663"
    }
}
