layout {

    focus-ring {
        active-color   "#6793e4"
        inactive-color "#121b2b"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#6793e4"
        inactive-color "#121b2b"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#121b2b70"
    }

    tab-indicator {
        active-color   "#6793e4"
        inactive-color "#0c398d"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#6793e480"
    }
}

recent-windows {
    highlight {
        active-color "#6793e4"
        urgent-color "#fd4663"
    }
}
